<div>
  <a href="#/templates">Go Back</a>
  <br><br>
  <div class="col-md-4">
    <img src="img/blue.jpg" class="img-full" alt="template-image">
  </div>
  <div class="col-md-8">
    <h3>Blue Template</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates omnis, autem odit minus praesentium maiores iste sequi, nulla, molestiae nemo, quaerat doloribus nostrum? Quis laboriosam ratione recusandae aspernatur nesciunt vero?</p>
    <h4>$19.99</h4>
    BUY NOW
  </div>
</div>
